<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mike D. Pascal - Reviews</title>
    <%- include('../layouts/header.ejs') %>
  </head>

<body>

    <div>
        <div class="bg-gray-600 text-gray-300 sticky top-0 border-b-2 ">
            <nav class="flex items-center justify-center sm:justify-normal container mx-auto">
                <img class="size-8 m-2" src="../../../imgs/logo.png" alt="logo">
                <h1 class="text-2xl font-light hidden sm:block">Mike D. Pascal</h1>
            </nav>
        </div>
        <form action="../../review/delete" method="post">
            <input type="text" name="id" value="<%= review._id %>" class="hidden" required>
            <button class="border-2 py-2 mx-auto block my4 px-4 rounded-lg text-red-300 mt-4 border-red-300 hover:border-red-500 focus:border-red-500 hover:text-red-500 focus:text-red-500">Delete this review</button>
        </form>
        <div class="flex items-center justify-center py-10">
            <form action="../../review/update" method="post" enctype="multipart/form-data"  class="bg-gray-700 text-gray-100 px-4 py-20 mx-10 w-full rounded-lg">
                <input type="text" name="id" value="<%= review._id %>" class="hidden" required>
                <p class="flex items-center justify-center">
                    <abbr title="Click to select your photo"><label class="flex items-center justify-center" for="photo">
                        <img src="data:<%= review.client.photo.tipo %>;base64,<%= review.client.photo.data %>" alt="client_photo" id="client_photo" class="size-32 rounded-full p-1 border-2 border-white m-2">
                        <input class="w-1 h-1 opacity-0" type="file" name="photo" accept=".png" id="photo">
                    </label></abbr>
                </p>
                <p>
                    <input value="<%= review.client.name %>" class="bg-transparent w-[80%] mx-auto block px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-3 ring-gray-500 outline-none" type="text" name="name" id="name" placeholder="Your full name" required>
                </p>
                <p>
                    <input value="<%= review.client.email %>" class="bg-transparent w-[80%] mx-auto block px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-3 ring-gray-500 outline-none" type="email" name="email" id="email" placeholder="Your email" required>
                </p>
                <p>
                    <textarea class="bg-transparent w-[80%] mx-auto block px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-3 ring-gray-500 outline-none" name="content" id="content" rows="10" placeholder="Type your review here..." required> <%= review.content %> </textarea>
                </p>
                <p>
                    <% if (review.status == 0) { %>
                        <button disabled class="py-2 w-[80%] mx-auto block my4 px-4 rounded-lg bg-red-200 text-xl text-red-800 font-light">Review in analysis...</button>
                    <% } else { %>
                        <button class="border-2 py-2 w-[80%] mx-auto block my4 px-4 rounded-lg text-green-300 mt-4 border-green-300 hover:border-green-500 focus:border-green-500 hover:text-green-500 focus:text-green-500">Save Changes</button>
                    <% } %>
                </p>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('photo').addEventListener('change', (e)=>{
            const files = e.target.files
            if(files.length > 0)
            {
                const reader = new FileReader()

                reader.onloadend = (result)=>{
                    document.getElementById('client_photo').src = result.target.result
                }

                reader.readAsDataURL(files[0])

            }else{
                document.getElementById('client_photo').src = "data:<%= review.client.photo.tipo %>;base64,<%= review.client.photo.data %>"
            }
        })
    </script>
</body>
</html>
